
@font-face {
  font-family: "myriad pro";
  font-weight: 700;
  src: url("/./assets/fonts/MYRIADPRO-BOLD.woff");
}
@font-face {
  font-family: "myriad pro";
  font-weight: 400;
  src: url("/./assets/fonts/MyriadPro-Light.woff");
}
@font-face {
  font-family: "myriad pro";
  font-weight: 600;
  src: url("/./assets/fonts/MYRIADPRO-SEMIBOLD.woff");
}